body {
    background:#090b1a;
    @media (min-width:768px){
        text-align: left;
    }
   
  }
  .stat-component {
   margin-top: 5%; 
  }
  .card {
    text-align: center;
    @media (min-width:768px) {
        text-align: center;
    }
    .card-body{
        .row{
            @media(min-width:768px){
                margin-top: 12%;
                    }       
                     .col-md-4{
                p{
                    font-family: Inter;
                    font-weight: 800;
                    font-size: 1.5rem;
                }
            }
        }
        span{
            color:rgb(144, 79, 185);
        }
        .card-title{
            font: Inter;
            font-weight: 700;
        }
      }
    @media (min-width: 768px) {
      text-align: left;
    }
    
    img {
      width:100%;
      height:auto;
      display: block;
      @media (min-width: 768px) {
        width:100%;
      }
    }
    .overlay {
      width: 100%;
      position: absolute;
      top:0;
      bottom:0;
    //   border:1px solid rgba(170, 92, 219, 0.5);
      background: rgba(170, 92, 219, 0.5);
      @media (min-width: 768px) {
        width:95%;
      }
    }
  }