// background colors for card and layover
$body-background: rgb(9, 11, 26);
$card-background: rgb(27, 25, 56);
$overlay-background:rgba(170, 92, 219,0.5);
$purple-text-color: rgb(170, 92, 219);


// font colors for card
$card-title-white:rgb(255, 255, 255);
$card-text-white:rgba(255, 255, 255, 0.78);
$card-stats-text:rgba(255, 255, 255, 0.6);

// font family for card
$font-family-inter: Inter;
$font-family-lexend: Lexend Deca;