
// font color for various texts in the card
$title-color: rgb(255,255,255);
$card-blue-color: rgb(139, 172, 218);
$card-cyan-color: rgb(0, 255, 247);
$card-body-color:rgb(20, 37, 61);

// font families for the card texts
$card-font-family: Outfit, sans-serif;

// color for the overlay
$overlay-color: rgba(0, 255, 247,0.5);


